<section class="bg-light" id="home">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{url_for('static', filename='img/logoCarrera.png')}}" 
             class="d-block mx-lg-auto img-fluid" 
             alt="Bootstrap Themes" 
             width="700" 
             height="500" 
             loading="lazy">
      </div>
      <div class="col-lg-6">
        <h2 class="display-4">Lic. Carla Mamani</h2>
        <p class="lead fs-3">Gestion I-2025</p>
        <hr class="my-4">
        <p class="fs-5">
          En este sitio encontraras informacion sobre la materia y temas relacionados al desarrollo web con Flask!
        </p>
        <a class="btn btn-primary btn-lg" href="#contact" role="button">Contactame</a>
      </div>
    </div>
  </div>
</section>