
  <h2>Mis proyectos</h2>

  <div class="container">
    <div class="card">
      <img src="web_services.jpg" alt="Web Services">
      <h3>Unidad 5 Web Services</h3>
      <p>En este módulo se desarrolla los tipos de Web Services y la creación de API-REST con Flask.</p>
      <a href="#">Más Información</a>
    </div>

    <div class="card">
      <img src="api_persistencia.jpg" alt="Persistencia de Datos">
      <h3>Unidad 4 Persistencia de Datos</h3>
      <p>Se desarrollan diferentes tipos de conexiones con PyODBC o SQLAlchemy para la persistencia de datos.</p>
      <a href="#">Más Información</a>
    </div>

    <div class="card">
      <img src="desarrollo_empresarial.jpg" alt="App Empresariales">
      <h3>Unidad 3 Tec para el desarrollo de app empresariales</h3>
      <p>Se enfoca en tecnología servlet y Java Server Pages usando IDEs de Java.</p>
      <a href="#">Más Información</a>
    </div>
  </div>

</body>
</html>